## World Happiness ##
The World Happiness Report is a landmark survey of the state of global happiness.

In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(precision=3, suppress=True)
pd.options.display.float_format = '${:,.3f}'.format

Read in data as Pandas data frame

In [2]:
df = pd.read_csv('happiness_2017.csv')

In [3]:
df.head()

,Country,Region,Rank,HappinessScore,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
0,Norway,Western Europe,1,$7.537,$7.579,$11.082,$0.950,$71.087,$0.953,$0.210,$0.250,$0.849,$0.203,$0.717
1,Denmark,Western Europe,2,$7.522,$7.594,$10.749,$0.952,$71.662,$0.955,$0.145,$0.181,$0.824,$0.206,$0.572
2,Iceland,Western Europe,3,$7.504,$7.476,$10.760,$0.967,$72.756,$0.939,$0.235,$0.727,$0.895,$0.148,$0.365
3,Switzerland,Western Europe,4,$7.494,$7.474,$10.956,$0.950,$73.174,$0.925,$0.168,$0.316,$0.774,$0.196,$0.820
4,Finland,Western Europe,5,$7.469,$7.788,$10.612,$0.964,$71.697,$0.962,$-0.012,$0.192,$0.787,$0.176,$0.598

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            140 non-null    object
 1   Region                             140 non-null    object
 2   Rank                               140 non-null    int64
 3   HappinessScore                     140 non-null    float64
 4   Life Ladder                        140 non-null    float64
 5   Log GDP per capita                 133 non-null    float64
 6   Social support                     139 non-null    float64
 7   Healthy life expectancy at birth   140 non-null    float64
 8   Freedom to make life choices       139 non-null    float64
 9   Generosity                         132 non-null    float64
 10  Perceptions of corruption          128 non-null    float64
 11  Positive affect                    139 non-null    float64
 12  Negative affect                    139 non-null    float64
 13  Confidence in national government  127 non-null    float64
dtypes: float64(11), int64(1), object(2)
memory usage: 15.4+ KB

In [5]:
df.shape

(140, 14)

In [6]:
df.columns

Index(['Country', 'Region', 'Rank', 'HappinessScore', 'Life Ladder',
       'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption', 'Positive affect',
       'Negative affect', 'Confidence in national government'],
      dtype='object')

In [7]:
df.columns.size

14

In [8]:
df.index

RangeIndex(start=0, stop=140, step=1)

In [9]:
df.isnull().sum()

Country                               0
Region                                0
Rank                                  0
HappinessScore                        0
Life Ladder                           0
Log GDP per capita                    7
Social support                        1
Healthy life expectancy at birth      0
Freedom to make life choices          1
Generosity                            8
Perceptions of corruption            12
Positive affect                       1
Negative affect                       1
Confidence in national government    13
dtype: int64

In [ ]:
df.hist(edgecolor = 'white', figsize = (20,16))

In [10]:
max_value = df["HappinessScore"].max()
max_value

7.537000000000001

In [11]:
max_index = df["Social support"].idxmax()
max_index

2

In [12]:
df['Country'][max_index]

'Iceland'

In [13]:
pd_p = pd.pivot_table(df, index=["Region"], values=["Rank", "HappinessScore"], aggfunc={"Rank":np.min, "HappinessScore":np.max})

In [21]:
pd_p

,HappinessScore,Rank,best_country
Region,,,
Central and Eastern Europe,$6.609,22,Czech Republic
Commonwealth of Independent States,$5.971,44,Uzbekistan
East Asia,$6.422,32,Taiwan Province of China
Latin America and Caribbean,$7.079,11,Costa Rica
Middle East and North Africa,$7.213,10,Israel
North America and ANZ,$7.314,7,New Zealand
South Asia,$5.269,74,Pakistan
Southeast Asia,$6.572,25,Singapore
Sub-Saharan Africa,$5.629,59,Mauritius
Western Europe,$7.537,1,Norway